.txt-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
}

mat-card {
    background-image: repeating-linear-gradient(90deg, rgba(238, 238, 238, 0.5) 0px, rgba(238, 238, 238, 0.5) 20px, transparent 20px, transparent 40px), repeating-linear-gradient(0deg, rgba(238, 238, 238, 0.5) 0px, rgba(238, 238, 238, 0.5) 20px, transparent 20px, transparent 40px), linear-gradient(90deg, #ffffff, #ffffff);
}

.completed {
    text-decoration: line-through;
    color: grey;
}

@media screen and (max-width: 570px) {
    .mobile-space {
        margin-top: 10px;
    }
}

body {
    background-color: coral;
}

.bg-cl {
    background-image: repeating-linear-gradient(0deg, hsla(217, 89%, 76%, 0.2) 0px, hsla(217, 89%, 76%, 0.2) 30px, transparent 30px, transparent 60px), repeating-linear-gradient(90deg, hsla(217, 89%, 76%, 0.2) 0px, hsla(217, 89%, 76%, 0.2) 30px, transparent 30px, transparent 60px), linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
    height: 100vh;
}